.bug-list-table {
  font-size: 0.7rem;
}

.bug-list-table {
  width: auto;
  margin: 0 auto;
}

.spgc-main-content > table {
  width: 100%;
}

.spgc-main-content > table > div > thead > tr > th {
  width: 25%;
  padding: 0.75rem 0.3rem !important;
}

.spgc-main-content > table > div > tbody > tr > td {
  padding: 0.75rem 0.3rem !important;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .single-project-grid-container {
    display: block;
  }
  .side-content-container {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
  .spgc-main-content > table > div > thead {
    display: block;
  }

  .spgc-main-content > table > div > tbody {
    display: block;
  }

  /* .spgc-main-content > table {
    width: auto;
  } */
}

@media (min-width: 481px) and (max-width: 1024px) {
  .small-th-text {
    font-size: 0.55rem !important;
    text-align: center;
    padding: 0.75rem 0 !important;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .small-th-text {
    font-size: 2vw !important;
  }
  .bug-list-table {
    font-size: 3vw !important;
  }
}
