:root {
  --banner-height: 150px; /* var(--banner-height) */
  --navbar-height: 56px; /* var(--navbar-height) */
}

.small-centered-card {
  width: 300px;
  margin: auto;
}

.medium-centered-card {
  width: 600px;
  margin: auto;
}

.text-link,
.text-link:hover {
  color: black;
  text-decoration: none;
}

.banner-text {
  height: var(--banner-height);
}

.fill-height {
  height: 100%;
}

.content-container {
  height: calc(100% - var(--banner-height) - var(--navbar-height));
}

.side-content-container {
  width: 100%;
}
