/*  */
/* .dropdown {
  border: none;
}

.dropdown a:hover {
  background-color: #f2f2f2;
}

.dropDownTextContainer {
  background-color: rgba(1, 123, 253, 0.8) !important;
  border: none;
} */

/* .dropDownText {
  width: 81px;
} */

/* .dropdown-toggle::after {
  margin: 0;
} */

#dropdown-basic::after {
  display: none;
}

.bug-description-text {
  /* padding is manually set so entry matches display on bug edit. This way users can see how their text will be displayed. */
  width: 545px;
  padding-left: 0.75rem;
  /* manual calculations to match bug edit description */
  padding-right: calc(1.5rem * 2 - 0.75rem - 2px);
}
@media (min-width: 320px) and (max-width: 1024px) {
  .side-content-container {
    padding: 0.5rem 0.75rem !important;
  }
  .global-form-container {
    padding: 0.5rem 0.75rem !important;
  }
  .bug-description-text {
    width: calc(100vw - 2px - 4 * 0.75rem);
  }
}
