/* KEEP BELOW COMMENTED OUT SETTINGS UNTIL APP IS CONSIDERED FULLY TESTED, UNKNOWN STYLING ISSUES MAY POP UP, ONE OF THESE COMMENTED OUT SETTINGS SHOULD FIX ANY ISSUES THAT POP UP */

.side-bar-container {
  width: 300px;
  height: 100%;
  background-color: black;
}

.sidebar {
  width: 300px;
  height: 100%;
  padding: 20px 20px;
  /* background-color: black; */
  color: white;
}

.sidebar a {
  color: white;

  text-decoration: none;
}

/* .sidebar a:hover {
  background-color: darkslategrey;
} */

.sideBarLink:hover {
  background-color: darkslategrey;
}

.sideBarLink {
  /* font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  list-style: none; */
  /* box-sizing: border-box; */
  /* cursor: pointer; */
  display: block;
  padding: 0.5rem 1rem;
  /* background-color: brown; */
  /* color: white; */
  /* text-decoration: none; */
}

.selected,
.selected .sideBarLink:hover {
  background-color: brown !important;
}

/* MEDIA QUERIES  */

/* mobile */
@media (min-width: 320px) and (max-width: 767px) {
  .side-bar-container {
    display: none !important;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .side-bar-container {
    display: none;
  }
}
