.single-project-grid-container {
  display: inline-grid;
  grid-template-columns: auto 1fr;
  height: 100%;
  width: 100%;
  grid-template-areas: "side-nav main-content";
}

.spgc-side-nav {
  grid-area: side-nav;
}

.spgc-main-content {
  grid-area: main-content;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .single-project-grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
